<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Eat Da Burgie!</title>
    <link rel="stylesheet" href="/assets/css/burger-style.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ranchers&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>