<main class="all">

  <div class="container">
    <nav class="navbar fixed-top navbar-light bg-dark" id="navvie">
      <a class="navbar-brand"><h1 id="header">EAT DA BURGIE!</h1></a>
      <form class="form-inline" action="/burger/create" method="POST">
        <input class="form-control mr-sm-2" id="new-burg" onkeyup="stoppedTyping()" name="burger_name" type="text">
        <button class="btn my-2 my-sm-0" id="go-burg" type="submit">Add Burgie</button>
      </form>
    </nav>
  </div>

  <div class="container cont2">
    <div class="d-flex justify-content-center">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
    </div>
    <div class="row">
      <div class="col-6 column1 textaligncenter flex-container">
        <h3>Select Your Yummy Burgie</h3>
        <ul>
          {{#each burger}}
            {{#unless this.devoured}}
              <form action="/burger/update/{{this.id}}?_method=PUT" method="POST">
                <button class="card burgie devour textaligncenter flex-item" trigger="0" type="submit">
                  <div class="row no-gutters">
                    <div class="card-body">
                      <div class="yum">
                        <div id="eat-burg"><strong>DEVOUR</strong> &DoubleLongRightArrow; {{this.burger_name}}</div>
                        <input type="hidden" name="devoured" value="false">
                      </div>
                    </div>
                  </div>
                </button>
              </form>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class="col-6 column2 textaligncenter flex-container">
        <h3>Devoured</h3>
        <ul id="2">
          {{#each burger}}
            {{#if this.devoured}}
            <div class="card stuck flex-item">
              <div class="row no-gutters">
                <form class="card-body" action="/burger/update/{{this.id}}?_method=PUT" method="POST">
                  <div class="devoured">{{this.burger_name}}</div>
                  <input type="hidden" name="devoured" value="true">
                </form>
              </div>
            </div>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function stoppedTyping() {
      var burgText = document.getElementById('new-burg').value;
      if (burgText.length > 0) { 
        document.getElementById('go-burg').disabled = false; 
      } else { 
        document.getElementById('go-burg').disabled = true;
      }
    }
  </script>
  
  <footer class="d-flex justify-content-center">
    <a href="https://www.freepik.com/free-photos-vectors/food" id="credit" target="_blank">Food vector created by dooder - www.freepik.com</a>
  </footer>

</main>