<div class="all">

  <h1>Eat Da Burger!</h1>

  <div class="container">
    <h3>Select Your Yummy Burgie</h3>
    <ul>
      {{#each burger}}
        <div class="card" style="width: 18rem;">
          <div class="row no-gutters">
            <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
            <div class="card-body">
              <h5 class="card-title">{{burger_name}}</h5>
              <input class="btn btn-danger btn-sm" type="submit" value="DEVOUR IT">
            </div>
          </div>
        </div>
      {{/each}}
    </ul>
  </div>

  <div class="container">
    <h3>Devoured</h3>
    <ul>
      {{#each burger}}
        {{#if devoured}}
          <li>
            <p>Devoured: {{burger_name}}</p>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>

  <form class="create-form">
    <h3>Add A Burgie</h3>
    <div class="form-group">
      <label for="burg-name">Burger Name:</label>
      <input type="text" id="ca" name="name">
      <input class="btn btn-secondary btn-sm" type="submit" value="Submit">
    </div>
  </form>

  {{!-- 
  <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>

  <button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
  <button type="button" class="btn btn-secondary btn-lg" disabled>Button</button>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  --}}
  <a href="https://www.freepik.com/free-photos-vectors/food">Food vector created by dooder - www.freepik.com</a>
  
  <script type="text/javascript"></script>

</div>