<main class="all">

  <div class="container">
    <nav class="navbar fixed-top navbar-light bg-dark" id="navvie">
      <a class="navbar-brand"><h1 id="header">EAT DA BURGIE!</h1></a>
      <form class="form-inline" action="/burgers" method="POST">
        <input class="form-control mr-sm-2" id="new-burg" type="text">
        <button class="btn my-2 my-sm-0" id="go-burg" type="submit">Add Burgie</button>
      </form>
    </nav>
  </div>

  <div class="container cont2">
    <div class="d-flex justify-content-center burg-line">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
      <img src="/assets/img/burg.jpg" class="card-img-left burg" alt="Burg">
    </div>
    <div class="row">
      <div class="col-6 column1">
        <h3>Select Your Yummy Burgie</h3>
        <ul>
          {{#each burger}}
            {{#unless this.devoured}}
              <div class="card burgie">
                <div class="row no-gutters">
                 <form class="card-body" action="/burgers/{{this.id}}?_method=PUT" method="POST">
                   <h5 class="card-title">{{this.burger_name}}</h5>
                   <button class="btn btn-sm my-2 my-sm-0 devour" trigger="0" type="submit">DEVOUR!</button>
                 </form>
                </div>
              </div>
            {{/unless}}
          {{/each}}
        </ul>
      </div>
      <div class="col-6 column2">
        <h3>Devoured</h3>
        <ul>
          {{#each burger}}
            {{#if this.devoured}}
            <div class="stuck">
              <div class="row no-gutters" disabled>
                  <h5 class="card-title">{{this.burger_name}}</h5>
              </div>
            </div>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <footer class="d-flex justify-content-center">
    <a href="https://www.freepik.com/free-photos-vectors/food" id="credit" target="_blank">Food vector created by dooder - www.freepik.com</a>
  </footer>

</main>
