<h1>Eat Da Burger!</h1>

<h2>Select Your Yummy Burgie</h2>

<ul>
  {{#each burgers}}
    <li>
      <p>Burger: {{this.burger_name}}</p>
    </li>
  {{/each}}
</ul>

<h3>Devoured</h3>

<ul>
  {{#each burgers}}
    <li>
      <p>Devoured: {{this.devoured}}</p>
    </li>
  {{/each}}
</ul>

<h2>Add A Burgie</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg-name">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
  </div>

  <input class="btn btn-primary" type="submit" value="DEVOUR IT">
</form>

{{!-- <input class="btn btn-primary" type="submit" value="Submit">

<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>

<button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
<button type="button" class="btn btn-secondary btn-lg" disabled>Button</button>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
--}}