* {
  text-align: center;
}

.all {
  font-family: 'Ranchers', cursive;
}

#header {
  font-family: 'Londrina Solid', cursive;
  font-size: 70px;
  color: lightcoral;
}

#go-burg {
  color: lightcoral;
  border-color: lightcoral;
}

#go-burg:hover {
  color: white;
  background-color: lightcoral;
}

#go-burg:active, #go-burg:focus {
  background-color: black;
  border-color: white;
}

h3 {
  color: lightcoral;
}

.cont2 {
  margin-top: 130px;
}

.column1, .column2 {
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

.textaligncenter {
  text-align: center;
}

.burg {
  max-width: 40px;
  max-height: 40px;
  margin: 0px 10px 20px 10px;
}

.burgie, .stuck {
  height: 80px;
  position: relative;
  width: 100%;
  border: 1px solid lightcoral;
}

.card-title {
  font-size: 20px;
  line-height: 10px;
}

.devour, .inlineblock .stuck {
  display: inline-block;
  text-align: center;
}

.devour:hover {
  background-color: lightcoral;
}

.devour:active {
  text-decoration: none;
}

#eat {
  font-size: 16px;
}

#eat-burg {
  font-size: 25px;
  line-height: 20px;
  color: lightgreen;
}

#eat-burg:hover {
  color: white;
}

#eat, #eat-burg {
  margin: auto;
  float: right;
}

.devoured {
  color: lightslategrey;
  display: inline-block;
  margin: auto;
}

#credit {
  color: lightcoral;
}

@media screen and (max-width: 728px) {
  .burgie, .stuck {
    position: relative;
    margin-left: 0;
    width: 100%;
  }

  .burg {
    margin: 0 0 5 0;
  }

  .cont2 {
    margin-top: 220px;
  }
}